<div class="container notes">
  <div>
    <ul>
      <%= turbo_frame_tag "notes" do %>
        <%= render partial: 'note_list_item', collection: @notes, as: :note %>
      <% end %>
    </ul>
    <br>
    <%= link_to 'Add new note', new_note_path, data: { turbo_frame: :note } %>
    <br>
  </div>

  <div class="note">
    <% if @note %>
      <%= render @note %>
    <% end %>
  </div>
</div>
