*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

$bg: var(--bg-color);
$text: var(--text-color);
$primary: var(--primary-color);

body {
  --bg-color: #{$light};
  --text-color: #{$dark};
  --primary-color: #{$brand};

  display: flex;
  min-height: 100%;
  min-height: -webkit-fill-available;
  max-height: 100%;
  max-height: -webkit-fill-available;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: $text;
  background-color: #{$bg};
}

body.dark {
  --bg-color: #{$dark};
  --text-color: #{$light};
  --primary-color: #{$neutral};
}

.container {
  padding: 50px 10px 10px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: $primary;
}

h1,
h2 {
  cursor: default;
}

@media only screen and (min-width: 991px) {
  .container {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 80%;
  }
}