*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  padding-left: 70px;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: absolute;
}

nav {
  top: 0;
  left: 5%;
}