*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: fit-content;
  min-height: 100%;
  max-width: 100%;
  padding: 50px 10px 10px;
  overflow: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}