*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}



table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

td.green {
  background-color: green;
}

.red {
  background-color: red;
}

.flash,
nav {
  position: absolute;
}

.flash {
  top: 0;
  left: 40%;
}

nav {
  top: 0;
  left: 5%;
}