<div style="display:flex; background-color: red">
  <p style="flex: 1">
    <%= task.content %>
  </p>

  <%= button_to 'cancel',
                day_task_path(task.date, task.id, task: { cancelled: true }),
                method: :patch %>

  <%= button_to 'Add to today',
                day_task_reschedule_path(task.date, task.id, { new_date: Date.today }),
                method: :patch %>

  <%= button_to 'Add to tomorrow',
                day_task_reschedule_path(task.date, task.id, { new_date: Date.tomorrow }),
                method: :patch %>
</div>
