.day {
  position: relative;
  width: 100%;
  height: max-content;
  padding-bottom: 20px;
  display: grid;
  grid-template-areas:
    'header'
    'habits'
    'tasks'
    'monitored'
    'summary'
  ;
  grid-template-rows: max-content;
  grid-template-columns: max(100%);
  row-gap: 15px;
  column-gap: 20px;

  >* {
    height: fit-content;
  }

  &__header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 30px;
      margin: 0 10px;
      text-align: center;
    }

    a {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 20px;
  }

  &__tasks {
    grid-area: tasks;
  }

  .task-habit,
  .task-monitored {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 30px;

    &.success {
      color: $success;
    }

    &.fail {
      color: $fail;
    }

    button {
      position: relative;
      color: inherit;
      font-size: inherit;
      display: flex;
      align-items: center;

      .progress {
        display: block;
        background-color: $success;
        width: 14px;
        position: absolute;
        bottom: 1px;
        left: 1px;
        z-index: 11;
      }
    }

    svg {
      margin-right: 5px;
    }
  }

  a {
    color: $primary;
  }

  &__habits {
    grid-area: habits;
  }

  &__monitored {
    grid-area: monitored;
  }

  &__summary {
    grid-area: summary;
  }

  @media only screen and (min-width: 991px) {
    width: max-content;
    margin: 0 auto;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 40px minmax(200px, auto) auto;
    grid-template-areas:
      'header header header'
      'habits tasks monitored'
      'summary summary summary'
    ;

    h2 {
      text-align: center;
    }

    &__summary {
      padding-top: 20px;
      max-width: 100%;
      margin: 0 auto;
    }

    &__tasks,
    &__summary {
      a {
        display: block;
        margin: 10px auto 0;
        width: max-content;
      }
    }
  }
}