.day {
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  .actions {
    position: absolute;
    display: flex;
    font-size: 30px;

    a {
      margin-right: 10px;
    }
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    margin: 20px 0 5px;
    font-size: 20px;
  }

  .task-habit {
    display: flex;

    &.success {
      color: $success;
    }

    &.fail {
      color: $fail;
    }

    button {
      margin-top: 1px;
      margin-left: 5px;
    }
  }

  a {
    color: $primary;
  }

  turbo-frame a {
    display: block;
    margin-top: 10px;
  }

  @media only screen and (max-width: 991px) {
    .actions {
      right: 0;
    }

    h1 {
      margin-right: 45px;
    }
  }

  @media only screen and (min-width: 992px) {
    max-width: 500px;

    .actions {
      left: -45px
    }
  }
}