.day {
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  .actions {
    position: absolute;
    display: flex;
    font-size: 30px;

    a {
      margin-right: 10px;
    }
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    margin: 20px 0 5px;
    font-size: 20px;
  }

  .task-habit,
  .task-monitored {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 30px;

    &.success {
      color: $success;
    }

    &.fail {
      color: $fail;
    }

    button {
      position: relative;
      color: inherit;
      font-size: inherit;
      display: flex;
      align-items: center;

      .progress {
        display: block;
        background-color: $success;
        width: 14px;
        position: absolute;
        bottom: 1px;
        left: 1px;
        z-index: 11;
      }
    }

    svg {
      margin-right: 5px;
    }
  }

  a {
    color: $primary;
  }

  turbo-frame a {
    display: block;
    margin-top: 10px;
  }

  @media only screen and (max-width: 991px) {
    .actions {
      right: 0;
    }

    h1 {
      margin-right: 45px;
    }
  }

  @media only screen and (min-width: 992px) {
    // max-width: 600px;
    padding: 20px calc(50vw - 285px);

    .actions {
      left: calc(50vw - 345px)
    }
  }
}