.habits {
  display: table;
  width: 100px;
  overflow: scroll;

  turbo-frame {
    min-width: 100%;
    display: block;
    min-height: 30px;
  }

  .actions {
    text-align: center;

    .active {
      background-color: lightgrey;
    }
  }

  .row {
    display: table-row;
    width: 100%;

    .cell {
      display: table-cell;
      min-width: 50px;
      text-align: center;
      vertical-align: middle;
      color: black;

      &:hover {
        .button_to {
          opacity: 1;
        }
      }

      &:first-child {
        min-width: 130px;
        max-width: 130px;
      }

      &.monitored {
        background-color: lightskyblue;
      }

      &.green {
        background-color: green;
      }

      &.red {
        background-color: red;
      }

      &.lightgrey {
        background: lightgrey;
      }

      .button_to {
        opacity: 0;
      }
    }
  }
}