.menu {
  z-index: 100;
  position: fixed;
  top: 0;
  font-weight: bold;
  color: white;
  background-color: $primary;
  height: 40px;
  padding: 10px;

  li {
    margin-bottom: 10px;
    list-style: none;
  }

  .btn {
    display: block;
    margin-left: auto;
  }

  @media only screen and (max-width: 991px) {
    width: 100%;
    overflow: hidden;

    &.open {
      height: auto;
    }

    ul {
      text-align: center;
      padding-top: 10px;
    }
  }

  @media only screen and (min-width: 992px) {
    position: static;
    width: min-content;
    height: 100vh;

    .btn {
      display: none
    }
  }
}