.task-form {
  position: relative;
  margin: 10px 0;

  input[type="text"] {
    margin-bottom: 10px;
    width: 100%;

  }

  a {
    position: absolute;
    bottom: 7px;
    left: 110px
  }

  input {
    font-size: 16px;
    padding: 5px;
  }
}