.task {
  display: flex;

  &.success {
    color: $success;
  }

  &.fail {
    color: $fail;
    cursor: not-allowed;
  }

  &:hover {
    .button_to .action-btn {
      opacity: 1;
    }
  }

  svg {
    margin-right: 5px;
  }

  .button_to {

    &:first-of-type,
    .task__content {
      color: inherit;
      flex: 1;

      &:disabled {
        cursor: not-allowed;
      }
    }

    button {
      display: flex;
      align-items: center;
      height: 30px;
      border: none;
      font-size: 14px;

      &.action-btn {
        margin-left: 4px;
        opacity: 0;
      }
    }
  }
}

.task-form {
  position: relative;
  margin: 10px 0;

  input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
  }

  a {
    position: absolute;
    bottom: 0;
    left: 90px
  }
}