.task {
  position: relative;
  margin-bottom: 10px;

  &.success {
    color: $success;
  }

  &.fail {
    color: $fail;
  }

  &.inactive &__content {
    cursor: not-allowed;
  }

  &__content {
    position: relative;
    border: none;
    font-size: 16px;
    text-align: left;
    margin-left: 23px;
    color: inherit;
    line-height: 1.2;

    svg {
      position: absolute;
      top: 1px;
      left: -23px;
    }
  }

  &__actions {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 1px;
    right: 0;
    background-color: $bg;

    button {
      color: $text;
      margin: 0 5px;
    }
  }

  &:hover {
    .task__actions {
      opacity: 1;
    }
  }
}