<%= turbo_frame_tag habit do %>
  <tr>
    <td>
      <%= habit.name %>
    </td>
    <% (@start_date..@end_date).each do |date| %>
      <%= render 'habit_item', habit_item: habit.items.detect{|h| h.date == date}, target: habit.daily_target %>
    <% end %>
  </tr>
<% end %>
