<%= turbo_frame_tag habit do %>
  <div class="row">
    <div class="cell">
      <%= habit.name %>
    </div>
    <% (start_date..end_date).each do |date| %>
      <%= render 'habit_items/habit_item', habit_item: habit.items.detect{|h| h.date == date}, target: habit.daily_target, date:, habit_id: habit.id %>
    <% end %>
  </div>
<% end %>
